<a href="https://colab.research.google.com/github/Harshit11072000/MachineLearning/blob/main/Instagram_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [45]:
d1 = pd.read_csv("instagram_reach.csv.txt")

In [46]:
d1.head()
d1 = d1.drop(['USERNAME','Caption','Hashtags'],axis=1)

In [47]:
d1.head()

   Unnamed: 0  S.No  Followers Time since posted  Likes
0           0     1       1600          11 hours    139
1           1     2        880           2 hours     23
2           2     3        255           2 hours     25
3           3     4        340           3 hours     49
4           4     5        304           3 hours     30

In [48]:
d1['Time since posted'] = d1['Time since posted'].str.replace("hours","")
print(d1)

    Unnamed: 0  S.No  Followers Time since posted  Likes
0            0     1       1600               11     139
1            1     2        880                2      23
2            2     3        255                2      25
3            3     4        340                3      49
4            4     5        304                3      30
..         ...   ...        ...               ...    ...
95           8    19        614                3      31
96           9    21        450                3      42
97          10    22        182                3      10
98          11    24       2039                3     222
99          12    25        741                3     109

[100 rows x 5 columns]

In [49]:
x = d1.iloc[:,:-1].values
y = d1.iloc[:,-1].values

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.8)

In [51]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
reg = lr.fit(X_train,Y_train)

In [52]:
from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(Y_test,reg.predict(X_test))

In [53]:
print(mse)

1937.2024438315802